<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-sm-12 col-md-10 col-lg-6 col-xl-5">
      <codefrost-shared-exit-icons
        [contents]="['back']"
      ></codefrost-shared-exit-icons>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <app-page-header [pageTitle]="'Settings'"></app-page-header>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-4 col-xl-4">
      <codefrost-shared-settings-menu
        [settingsMenus]="settingsMenus"
        (menuSelected)="navigateRoute($event)"
      >
      </codefrost-shared-settings-menu>
      <div class="d-flex justify-content-center align-items-center mt-5">
        <button
          class="btn btn-transparent mt-3 mb-md-3 border-0 text-danger fs-6"
          (click)="openDeleteAccountModal()"
        >
          <i class="bi bi-trash3-fill text-danger shadow-none me-2 fs-4"></i
          >Delete Account
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteAccountModal>
  <app-delete-account-modal
    (accountDeletion)="accountDeletion.emit()"
  ></app-delete-account-modal>
</ng-template>
